.navbar {
  border-radius: 50px;
}

.nav-link {
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  background-color: white;
  color: black !important;
}